
block body

    script(src="/public/js/sorttable.js")

    h1.text-center Dashbaord

    if transactions
        table.table.sortable
            thead.thead-dark
                tr
                    td Select
                    td Invoice #
                    td Date Created
                    td Completed?
                    td Client Email
                    td Description
                    td Amount (USD)
            tbody
                each transaction in transactions
                    tr
                        td
                            input(type="checkbox", name=transaction)
                        td #{transaction.id}
                        td #{new Date(transaction.created_at).toLocaleDateString("en-US", { hour12: false, year: "numeric", month:"2-digit", day:"2-digit", hour:"2-digit", minute:"2-digit", second:"2-digit" })}
                        td #{transaction.status}
                        //- td #{transaction.to.email}
                        td #{transaction.description}
                        td #{transaction.native_amount.amount}
            button.btn.btn-primary(type="submit") Edit
            button.btn.btn-primary(type="submit") Delete