extends index.pug

block body

    script(src="/public/js/sorttable.js")

    ul.nav.nav-pills.justify-content-end
        li.nav-item
            a.nav-link.active(href="/") Home
            li.nav-item
                a.nav-link.active(href="/logout") Logout

    h1.text-center Dashbaord

    if transactions
        table.table.sortable
            thead.thead-dark
                tr
                    td Invoice #
                    td Date Created
                    td Completed?
                    td Client Email
                    td Description
                    td Amount (USD)
            tbody
                each transaction in transactions
                    tr
                        td #{transaction.id}
                        td #{new Date(transaction.created_at).toLocaleDateString("en-US", { hour12: false, year: "numeric", month:"2-digit", day:"2-digit", hour:"2-digit", minute:"2-digit", second:"2-digit" })}
                        td #{transaction.status}
                        td #{transaction.to.email}
                        td #{transaction.description}
                        td #{transaction.native_amount.amount}